<!DOCTYPE html>
{% extends 'base.html'%}
{% block title %}
{% if object %}
Edit Course {{object.title}}
{%else%}
Create a New Course
{% endif %}
{% endblock %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>
    {% if object %}
     Edit Course "{{object.title}}"
    {% else %}
     Create a New Course
    {% endif %}
</h1>
<div class="module">
    <h2>Course Info</h2>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <p><input type="submit" value="Save Course"></p>
    </form>
</div>
</body>
</html>
{% endblock %}
