<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Login</h1>
<div class="module">
    {% if form.error %}
    <p>Login Error</p>
    {% else %}
    <p>Login Here</p>
    {% endif %}
<div class="login-form">
    <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="hidden" name="next" value="{{next}}">
        #  input field is used to store the next URL that the user should be redirected to after logging in.
        This is useful if the user was trying to access a page that they needed to be logged in to view.
    <p><input type="submit" value="Login"></p>
    </form>
</div>
</div>
</body>
</html>
{% endblock %}
